.he {
    display: flex;
    flex-direction: column;
    background: var(--color-bt);
    padding: 2rem;
    width: 100%;
    height: 100vh;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .headers {
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
    padding: 3rem 0rem;
    background: var(--color-gradientss);
    grid-template-columns: repeat(3, 1fr);
    border-radius: 3rem;
  }
  .span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .span h1 {
    color: var(--color-white);
    font-size: var(--font-newss);
    font-weight: 800;
    font-family: var(--font-family);
  }
  .h1_link {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0rem;
    font-family: var(--font-familys);
  }
  .arrow {
    color: var(--color-white) !important;
    font-weight: 800 !important;
    font-size: var(--font-logos) !important;
  }
  .h1_link span {
    color: var(--color-white);
    font-size: var(--font-logos);
    font-weight: 800;
  }
  .home {
    color: var(--color-dots);
    font-weight: 800;
    font-size: var(--font-logos);
  }
  .sp_img {
    width: 100%;
    height: 10rem;
    position: relative;
  }
  .sp_imgs {
    width: 100%;
    height: 10rem;
    position: relative;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media (min-width: 280px) and (max-width: 480px) {
    .he {
      padding: 1rem 1rem;
    }
    .headers {
      padding: 3rem 0rem;
      grid-template-columns: repeat(1, 1fr);
      border-radius: 3rem;
      z-index: 10000;
    }
    .sp_img {
      display: none;
    }
  }
  